name: Trigger Netlify Build
on:
  push:
    branches:
      - main
  schedule:
    - cron: "11 11 * * *" # daily at 11:11 UTC, aka 3:11 Pacific
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    env:
      NETLIFY_HOOK_ID: ${{ secrets.NETLIFY_HOOK_ID }}
    steps:
      - name: POST to Build Hook
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/$NETLIFY_HOOK_ID
